<h1>Home Page</h1>

{{#each cats}}
  <article>
    <h3>{{name}}</h3>
    {{#if isStar}}
      <em>SUPERSTAR</em>
    {{/if}}
    <img src={{imageUrl}} alt="{{name}}" />
  </article>
{{/each}}

{{>lorem}}